@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  @apply bg-dark-gray text-white;
  font-size: Ini;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}